// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1200px) {
  .logo_menu{
  	width: 152px;
  }
  .why_block figure{
  	width: 25%;
  	img{
  		max-width: 100%;
  	}
  	span{
  		display: block;
  		height: 150px;
  	}
  }
  .main_form{
  	.float_left{
  		float: none !important;
  		width: 100%;
  		display: block;
  	}
  }
  .took_select div{
  	max-width: 190px;
  	padding: 0 10px 0 0;
  }
  .teh_block > img, .teh_block section{
  	width: 25%;
  }
  .quality_wrap .quality_block figure{
  	img{
  		width: 95%;
  	}
  }
}

@include mq($max-width: 1024px) {
	.active_buttons a.add_star:before{
		display: none;
	}
	.map{
		iframe{
			pointer-events: none !important;
		}
	}
}
@include mq($max-width: 991px) {
	.head_menu li{
		padding: 0 0 0 15px;
	}
	.catalog_box .title{
		font-size: 30px;
	}
	.teh_block > img, .teh_block section{
		width: 50%;
		height: 370px;
	}
	.footer_top section, .footer_top .logo, .footer_top .head_menu li{
		text-align: center;
	}
	.footer_top .location{
		margin: 20px auto;
	}
	.quality_wrap .quality_block figure img{
		width: 80%;
	}
	.modal_kitchen_form{
		text-align: center;
	}
	.modal_kitchen_form{
		.button{
			position: static;
			left: 0;
			margin: 0;
		}
	}	

	.logo_drop{
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		&:before{
			content: '';
			position: absolute;
			top: 23px;
			right: -13px;
			width: 0;
			height: 0;
			@include arr(10,10, #fff, b);
		}
	}
	.header{
		&.fixed_element{
			.logo_drop{
				&:before{
					@include arr(10,10, #666666, b);
				}
			}
		}
	}
	.logo_menu{
		display: none;
		position: absolute;
	}
}


@include mq($max-width: 900px) {
	.modal_kitchen{
		width: auto;
	}
}

@include mq($max-width: 765px) {
	.totop{
		display: none;
	}
	.why_block figure{
		width: 50%;
	}
	.took_select div{
		width: 50%;
		max-width: 100%;
		padding-bottom: 30px;
	}
	.catalog_box{
		@include povh('');
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background:#000;
			opacity: 0.7;
			z-index: 1;
			height: 100%;
			width: 100%;
		}
		div{
			position: relative;
			z-index: 2;
			text-align: center;
		}
	}
	.quality_wrap .quality_block figure{
		width: 33%;
		margin-bottom: 20px;
	}
	.director_block {
		.float_left{
			width: 100%;
			float: none !important;
		}
		height: auto;
	}
	.footer_bottom{
		text-align: center;
		.text-right{
			text-align: center;
			padding-top: 10px;
		}
	}
	.catalog_box .title{
		&:before{
			display: none;
		}
	}
	.modal_kitchen{
		.modal_kitchen_inner{
			.float_left{
				float: none !important;
				width: 100%;
				a{
					img{
						width: 100%;
					}
				}
			}
		}
	}

	.logo_drop{
		&:before{
			right: auto;
			left: 200px;
		}
	}	
	.menu_trigger{
		display: block;
		font-size: 25px;
		color: #fff;
		padding: 10px 0 10px 0;
	}
	.head_menu{
		ul{
			display: none;
			position: absolute;
			right: 0;
			width: 250px;
			background:rgba(255,255,255, 0.9);
			li{
				display: block;
				color: #666;
				padding: 0;
				text-align: center;
			}
		}
	}
	.took_products{
		.took_product{
			width: 48%;
			margin-right: 1%;
		}
	}
}

@include mq($max-width: 600px) {
	.reviews_slider{
		width: 90%;
	}
	.route_wrap{
		background: none;
		 .route_block{
		 	background: none;
		 	figure{
		 		width: 33%;
		 	}
		 }
	}
	.develop_gallery a{
		width: 100%;
		img{
			width: 100%;
			height: auto;
		}
	}
	.modal_designer{
		.modal_inner{
			width: auto;
		}
		.modal_designer_form{
			.float_left, .float_right {
				width: 100%;
				padding-bottom: 25px;
				text-align: center;
			}
		}
	}
	.modal_catalog{
		width: auto;
	}
}

@include mq($max-width: 500px) {
	.took_products{
		.took_product{
			width: 100%;
			margin-right: 0%;
		}
	}
	.slogan, .slogan_tags{
		width: 100%;
		text-align: left;
		font-size: 20px;
		strong span{
			font-size: 14px;
		}
	}
	.header{
		//display: none;
	}
	.teh_block > img, .teh_block section{
		width: 100%;
		height: auto;
	}
	.quality_wrap .quality_block figure{
		width: 100%;
	}
	.route_wrap .route_block figure{
		width: 50%;
	}
	.slogan_tags strong i{
		font-size: 13px;
	}
	.took_select div{
		width: 100%;
		text-align: center;
	}
	.modal_kitchen{
		.modal_kitchen_inner{
			.float_left{
				figure{
					figcaption{
					display: block;	
					}
				}
			}
		}
	}

}

@include mq($max-width: 400px) {
	.slogan strong span, .slogan_tags strong span{
		font-size: 11px;
	}
	.main_form section form{
		input{
			width: 100%;
			background-image: none;
		}
	}
	.modal_box{
		input, textarea, .button,  input[type=text],  input[type=tel]{
			width: 100%;
			background-image: none;
		}
	}
}